* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  background-color: whitesmoke;
}
nav {
  display: flex;
  background-color: #131921;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav a {
  margin-left: 2rem;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 700;
}
.searchBox {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 1rem;
}
.searchBox input {
  height: 1.5rem;
  flex-grow: 1;
}
.searchIcon {
  background-color: #f3a847;
  height: 26px;
}
.amazon-logo {
  height: 50px;
  width: 120px;
}
.cart--icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}
.view-cart {
  display: flex;
  align-items: center;
}
.cover--img {
  width: 100%;
}
/* //products */
/* .product--List {
  display: grid;
  /* //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
/* display: flex; */
/* max-width: 1200px; */
/* } */
/* Products */
.home--row {
  display: flex;
}
.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-grow: 1;
  background-color: #fff;
  padding: 1rem;
  line-height: 1.5;
  margin: 1rem;
  border-radius: 2%;
}
.product--description {
  padding: 1rem;
}
.product--image {
  height: 200px;
  width: 150px;
  padding: 1rem;
}
.product--Btn {
  background-color: #f7ca00;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5%;
}

/* checkout page styling */
.checkout {
  width: 70%;
  flex-grow: 1;
}
.checkout-cover {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.checkout-product {
  display: flex;
  align-items: center;
}
.checkout-page {
  display: flex;
}
.order-total {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  height: fit-content;
  line-height: 2;
}
small {
  align-items: center;
  display: flex;
}
.checkout-btn {
  background-color: #f7ca00;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5%;
  margin: 1rem;
}
.checkout-product--description {
  line-height: 2;
}
/* signin page */

.sign-in {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2rem auto;
  background-color: white;
  padding: 2rem;
}
